// _base.scss
// entire style settings

$lifenode-prefix: "ln";

// color
$primary-color: #00BFFF;
$error-color: #ea222d;
$success-color: #9AC846;

$primary-6: $primary-color;
$primary-7: lighten($primary-color, 15%);


$text-color: #333;
$text-disabled-color: lighten($text-color, 40%);

// link
$link-color: $primary-6;
$link-hover-color: $primary-7;
$link-decoration: none;
$link-hover-decoration: none;

$border-color-split: lighten(black, 91%);
$component-background: white;

// font & line
$font-family: "Sawarabi Gothic";
$font-size-base: 14px;
$font-size-lg: $font-size-base + 2px;
$font-size-sm: $font-size-base - 2px;
$line-height-base: 1.5;
